
#booking-main-page-section-three{
    /* border: 2px solid red; */
    display:flex;
    justify-content: center;
    /* min-height: 200px; */
    padding:40px 0px 60px 0px;
}

#booking-main-page-section-three-holder{
    width: 80%;
    /* border: 2px solid red; */
}

.booking-main-page-section-three-title{
    font-size:24px;
    color:rgba(0, 0, 0, 1);
}

.booking-main-page-section-three-content{
    font-size:18px;   
}