
#booking-main-page-section-seven{
    border: 2px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;
    margin:40px 0px 60px 0px;
}

#booking-main-page-section-seven-holder{
    width: 80%;
    /* border: 2px solid red; */
    font-size:20px;
}
