#booking-main-page-section-one {
  /* border: 12px solid red; */
  min-height: 200px;
  display: flex;
  justify-content: center;
  padding: 40px 0px 0px 0px;
}

#booking-main-page-section-one-holder {
  width: 80%;
  display: flex;
}

.booking-main-page-section-one-left {
  /* border: 2px solid black; */
  min-height: 100px;
  width: 80%;
}
.booking-main-page-section-one-right {
  /* border: 2px solid black; */
  min-height: 100px;
  width: 30%;
}

#booking-main-page-section-one-left-top {
  font-size: 64px;
}

#booking-main-page-section-one-left-bottom {
  display: flex;
  /* border: 2px solid black; */
}

#booking-main-page-section-one-left-bottom-left {
  /* border: 2px solid black;     */
  padding: 8px;
}

#booking-main-page-section-one-left-bottom-right {
  /* border: 2px solid red; */
  width: 100%;
  font-size: 24px;
  padding: 0px 0px 0px 25px;
  color: rgba(107, 108, 126, 1);
}

#booking-main-page-section-one-right-top {
  /* border: 2px solid black;     */
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-main-page-section-one-right-top-price {
  font-size: 96px;
  padding: 0px 10px 0px 0px;
}

#booking-main-page-section-one-right-bottom {
  /* border: 2px solid black;   */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.booking-main-page-section-one-right-bottom-btn1 {
  width: 250px;
  border-radius: 50px;
  height: 50px;
  background-color: rgba(188, 36, 61, 1);
  font-size: 18px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.booking-main-page-section-one-right-bottom-btn2 {
  width: 250px;
  border-radius: 50px;
  border: 1px solid rgba(135, 136, 150, 1);
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 18px;
  color: rgba(135, 136, 150, 1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
