

#landing-page{
    /* border: 2px solid yellow; */

    margin: 0 auto;
}

/* background: url(../../public/images/landing-page-bg-img.png); */

#landing-page::after{
    content:'';
    background: url(../../public/images/landing-page-bg-img.png);
    /* opacity: 0.5; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-position: 100% 100%;
    background-size: 1000px auto;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: #C01F3F;
}