#page-01-box{
  /* border: 2px solid red; */
}

#map-holder{
  border: 2px solid green;
  /* width: 1000px;
  height: 600px; */
}

.map{
  /* border: 2px solid red; */
  height:100%;
  /* width:100%; */
  color: black;
}

.map-map{
  /* border: 12px solid green; */
  height:100%;
}

.dropdown{
  width: 200px;
  font-size:20px;
}

/* STYLING FOR INFO WINDO HERE */


#infoWindow{
  /* border: 12px solid green; */
  width: 600px;
  font-size:20px;
  text-align: center;
}

.info-styling img{
  /* border: 2px solid red; */
  border-radius: 10px;
  width: 300px;
}

.info-window-title{
  font-weight: bold;
}