.car-container {
  height: 600px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
}

.car-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 480px;
  width: 341px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 20px;

  /* border: 2px solid red; */
}

.car-card > img {
  height: 238px;
  width: 340px;
  border-radius: 12px;
}

.car-card-content {
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
  /* margin: 10px; */
  margin-right: 10px;
  /* border: 2px solid green; */
}

#car-card-title {
  margin-right: 10px;
  font-size: 20px;
}
.car-bath-bed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin: 10px;
  /* border: 2px solid green; */
}

.car-card-icon {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 0px;
}

.car-card-icon > img {
  margin-right: 10px;
}

.car-card-icon2 {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.car-card-icon2 > img {
  margin-right: 10px;
}

.car-card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* border: 2px solid blue; */

  margin: 10px;
}

#car-com-events {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: 18px;
  font-weight: 500;
  /* border: 2px solid green; */
  margin-bottom: 10px;
  width: 240px;
  height: 30px;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 4px;
}

#car-com-events > img {
  height: 18.303373336791992px;
  width: 15.696311950683594px;
  margin-right: 5px;
  border-radius: 0px;
}

#car-pet {
  display: flex;
  /* border: 2px solid green; */
  justify-content: flex-start;
}
#car-price {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 24px;
  margin-top: 10px;
  margin: 10px;
}
#car-pets {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 18px;
  font-weight: 500;
  /* border: 2px solid green; */
  margin-bottom: 10px;
  width: 160px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 4px;
}

#car-pets > img {
  height: 15px;
  width: 19px;
  margin-right: 5px;
  border-radius: 0px;
}
